<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1> Login Page</h1>
    {% for i in messages %}
    <h2>{{i}}</h2>
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{form}}
        </table>
        <input type="submit" value="Login">
    </form>
    <a href="{% url 'teacher:forgotpwd' %}"><button>Forgotten Password</button></a>
    <h2>New User?</h2>
    <a href="{% url 'teacher:register' %}"><button>Register Page</button></a>
</body>
</html>