<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Bree+Serif&family=Playfair+Display:ital@1&family=Poppins:wght@100;200;300;400;600;700&family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
</head>
<body>
    <h1>Teacher Home Page</h1>
    <h2>Welcome to Home Page</h2>
    {{ user }}
    <a href="{% url 'teacher:logout' %}"><button>Logout</button></a>
    <a href="{% url 'teacher:register_course' %}"><button>Register Course</button></a>
    <a href="{% url 'teacher:register_domain' %}"><button>Register Domain</button></a>
    <a href="{% url 'teacher:register_video' %}"><button>Register video</button></a>
    <a href="{% url 'teacher:list_course' %}"><button>Uploaded Course</button></a>
</body>
</html> 