<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <h1>Buying congermation page</h1>
    <h2>are you sure to buy this Course</h2>
    <h3>Course id: {{res.cid}}</h3>
    <h3>Course name: {{res.course_name}}</h3>
    <h4>{{res.desc}}</h4>
    <h4>{{res.price}}</h4>
    <img src="{{res.image.url}}" alt="" height="250" width="300">

    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{i.cid}}">
        <input type="submit" value="buy">
    </form>
</body>
</html>